global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend fe_ws
    bind :3001
    option forwardfor

    acl is_ws path_beg /ws
    http-request deny if !is_ws
    use_backend be_ws if is_ws

backend be_ws
    balance leastconn
    option http-server-close
    timeout tunnel 1h
    server ws1 ws-service:8081 check
